<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/signin.css">
    <title>Todo-List</title>
</head>
<body>
    <main> 
        <form action="/user/signin" method="POST">
            <h1> Sign in to your account </h1>
            
            <label for="e-mail">Email</label>
            <input 
                type="email" 
                name="email" 
                id="e-mail" 
                placeholder="Enter Email Address" 
                required
            >

            <label for="password">Password</label>
            <input 
                type="password" 
                name="password" 
                id="password"  
                placeholder="Enter Password" 
                minlength="6"
                required
            >
             
            <button type="submit" class="btn-signin">Sign In</button>

            <p>Don't have an account? <a href="/user/signup">Create one</a></p>
            <a class="reset" href="/user/resetPassword">Forgot password?</a>
        </form>
    </main>
</body>
</html> 